:root {
    --primary: #593086;
    --secondary: #e85a68;
}

body {
   margin: 0;
   height: auto;
   padding:0;
   box-sizing: border-box; 
   align-items: center;
   font-family: "Helvetica Neue",Arial;
   background-color: var(--primary);
}

.container {
    max-width: 620px;
    margin: auto;
}

navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: 9px 18px;
}

.logo {
    height: 33.47px;
    width: 175px;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

ul li {
    padding: 5px 10px;
    color: var(--secondary);
    font-size: 12px;
}

.content-container {
    max-width: 620px;
    background-color: var(--primary);    
}

.content-container-text {
    align-items: center;
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 15px 15px 13px;
    background-color: var(--primary);
}

.content-container img {
    max-width: 100%;
    min-width: 100%;    
}

.btn {
    padding: 15px 25px;
    border: none;
    background: var(--secondary);
}

.content-container-btn {
    padding: 12px 18px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);    
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    padding: 5px 9px 9px;    
}

.social-container img {
    height: 48px;
    width: 48px;
}

.contact-container a {
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 10px;
    color: var(--secondary)
} 

.contact-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 18px 18px 18px;
    background-color: var(--primary);
    align-items: center;
    padding: 9px 18px 0;    
}

hr.line {
    color: #222222;
    max-width: 92%;
    border: .5px solid; 
}

.footer {
    color: var(--secondary);
    font-size: 12px;
    text-align: center;
    padding-bottom: 1.5rem;
}

.footer a {
    color: #1155CC;
}

@media only screen and (max-width: 640px) {
    .container {
        min-width: 100%;
    }

    .content-container-text {
        font-size: 12px;
    }

    .footer p {
        font-size: 11px;
        max-width: 90%;
        margin: auto;
    }

    .btn {
        padding: 10px 15px;
    }

    .contact-container a {
        font-size: 14px;
    }

    .social-container img {
        height: 37px;
        width: 37px;
    }
  }

  @media only screen and (max-width: 512px) {
      navbar li {
          display: none;
      }

      .logo {
          margin: auto;
          width: 160px ;
          height: 30px;
      }

      .contact-container a {
        font-size: 12px;
    }

    .social-container img {
        height: 30px;
        width: 30px;
    }
  }